.container
    display: grid
    grid-template-columns: 1fr 1fr
    max-width: 900px
    max-height: 700px
    background-color: white
    border-radius: 25px
    // padding: 0 4em 3em 0

.image
    position: relative
    background-image: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg")
    background-repeat: no-repeat
    background-position: -80px center, -80px center
    background-size: 100%, 100%
    padding: 2em 0
.main-img
    display: none
.box
    width: 35%
    position: absolute
    top: 43%
    left: -23%

.accordion
    padding: 2em 5em 4em 0

.faq
    padding: 1em 0 .8em

input
    display: none

input + label + .answer
    height: 0
    opacity: 0
    font-size: 0
    line-height: 1.2em

input:checked + label
    border: 0
    h2
        font-weight: $font-bold
    img
        transform: rotate(180deg)
    + .answer
        transition: ease .5s
        opacity: 1
        font-size: 15px
        padding-bottom: 1em
        height: auto
        border-bottom: 1px solid $light-grayish-blue

label
    display: flex
    position: relative
    z-index: 999
    padding: 1em 0
    border-bottom: 1px solid $light-grayish-blue
    &:hover
        cursor: pointer
        color: $soft-red
    img
        margin-left: auto
        align-self: center
        width: 10px
        height: 7px

@media screen and (max-width: 45em)
    body
        padding-top: 7em
        height: 100%
    .container
        display: flex
        flex-direction: column
        max-width: 350px
        max-height: 900px
    .image
        background: url("../images/bg-pattern-mobile.svg") no-repeat
        background-position: 50% 50%
        height: 100px

    .main-img
        display: block
        position: absolute
        top: -110px
        left: 50px
        width: 70%
    .box
        display: none

    .faq
        text-align: center
    .accordion
        display: flex
        flex-direction: column
        text-align: left
        margin: auto
        padding: 0 2em 3em
        p
            padding-right: 2em