body
    display: flex
    place-items: center
    place-content: center
    min-height: 100vh
    font-family: "Kumbh Sans", sans-serif
    font-size: 15px
    background-image: linear-gradient(to bottom, $soft-violet, $soft-blue)
    padding: 2em
h1, h2
    color: $vdark-desat-blue

h2
    font-weight: $font-regular
    font-size: 14px

p
    color: $dark-grayish-blue
    font-size: 12px

li
    list-style: none

